:root {
    /* Colors */
  --background: #ffffff;
  --foreground: #000000;
  --default-font-family: "Helvetica";
  --primary-color: #000000;
  --duolingo-green-color: #58cc02;

  /* Transitions */
  --transition-medium: 0.1s all ease-in-out;

  /* Box Shadows */
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /* Paddings */
  --padding-1: 8px;
  --padding-2: 16px;
  --padding-3: 24px;
  --padding-4: 32px;
  --padding-5: 48px;
  --padding-6: 64px;

  /* Margins */
  --margin-1: 8px;
  --margin-2: 16px;
  --margin-3: 24px;
  --margin-4: 32px;
  --margin-5: 48px;
  --margin-6: 64px;

  /* Border Radius */

  --border-radius-1: 8px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--default-font-family), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}


